* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.flex-container {
    display: flex;
    max-width: 100%;
}

#header h1,
#nav-bar,
#now-playing,
#menu,
#locate-us,
#about-us {
    box-sizing: border-box;
    border: 2px;
    border-style: solid;
    border-color: black;
    margin: 5px auto;
}

#header {
    text-align: center;
}

#header h1 {
    margin: 5px auto;
    padding: 10px 5px;
    color: white;
    background-color: #004b93;
    text-shadow: black 2px 2px;
}

#nav-bar {
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    background-color: #f40009;
}

#nav-bar a {
    margin: 5px;
    font-size: 24px;
    color: white;
    text-shadow: black 1px 1px;
}

#now-playing,
#menu,
#locate-us,
#about-us {
    justify-content: center;
}

#now-playing {}